Flask
Jinja2
jsonschema
lxml
OWSLib
pyproj
requests
Shapely
Werkzeug
SQLAlchemy
psutil
pywps @ git+https://github.com/laskama/pywps.git@whizps#egg=pywps
py_rpc_producer @ git+https://git.rwth-aachen.de/marius.laska/py-rpc-producer.git